{# empty Twig template #}
   


        <nav class="main-menu">
            <ul>
                <li>
                    <a href=".html">
                        <i class="icon-home nav-icon"></i>
                        <span class="nav-text">
                           
                            Home Admin
                           
                        </span>
                    </a>
                </li>
                
                
                
                <li>
                    <a href="javascript:;">
                        <i class="icon-list nav-icon"></i>
                        <span class="nav-text">
                            Agregar Actualizaciones
                        </span>
                       </i>
                    </a>
                  
                </li>
                
                
                
           
                
                
          
           

            <ul class="logout">
                <li>
                    <a href="{{path('logout')}}">
                        <i class="icon-off nav-icon"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>